<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>Hola Sinatra</title>
  </head>
  <body>
    <div class="row">
      <%form_for :user, url: {action: "welcome/create"} do |formulario|%>
      <%= formulario.text_field :name%>
      <%= formulario.text_field :last_name%>
      <%= formulario.submit "Say Hi"%>
    </div>
  </body>
</html>
